html {
    height: 100%;
    width: 50%;
    background-image: url("images/Minecraft-Survival-Guide-Featured.webp");
    background-size: cover;
    background-position: center;
}
body {
    background-color: transparent;
    height: 100%;
    width: 100%;
}
img#MMS {
    background-color: transparent;
    display: block;
    margin: 0 auto;
}
div#backdrop {
    backdrop-filter: blur(10px);
    z-index: 1;
}