html {
    background-image: url("images/Minecraft-Survival-Guide-Featured.webp");
    background-size: cover;
    height: 100%;
    width: 100%;
}
body {
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
}
img#MMS {
    background-color: rgba(0, 0, 0, 0);
    display: block;
    margin: 0 auto;
}