html {
    background-image: url("images/Minecraft-Survival-Guide-Featured.webp");
    background-size: cover;
    backdrop-filter: blur(1000px);
    height: 100%;
    width: 100%;
}
body {
    background-color: transparent;
    height: 100%;
    width: 100%;
}
img#MMS {
    background-color: transparent;
    display: block;
    margin: 0 auto;
}